.forgotPassword{
    height: calc(100vh - 54px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    h1{
       text-align: center;
       font-weight: 600;
       margin-bottom: 25px;
    }
    background-color:  #e7e6f9;
}
.forgotPasswordComponent{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 50px 15px;
    max-width: 390px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media screen and (min-width: 580px) {
    .forgotPasswordComponent{
        padding: 60px 20px;
        max-width: 420px;
    }
}
@media screen and (min-width: 690px) {
    .forgotPasswordComponent{
        max-width: 480px;
    }
}
@media screen and (min-width: 960px) {
}
@media screen and (min-width: 1200px) {
    .forgotPassword{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
